asgiref==3.7.2
beautifulsoup4==4.12.2
crispy-bootstrap5==2023.10
Django
django-bootstrap4==23.2
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-datetime-widget==0.9.3
django-js-asset==2.1.0
django-mapbox-location-field==2.0.0
django-tempus-dominus==5.1.2.17
Pillow==10.1.0
pytz==2023.3.post1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
gunicorn