<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django User Signup</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Custom Styles -->
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }

        .custom-container {
            max-width: 400px;
            margin: auto;
        }

        .signup-form {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <div class="container custom-container">

        <h2 class="mt-4 mb-4">Django User Signup</h2>
        {% if messages %}
        <div id="message-container" class="col-md-12 mx-auto">
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show py-3 mt-2" role="alert">
            <strong>Alert! </strong> {{message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- Signup Form -->
        <form class="signup-form" method="post" action="{% url 'event:login' %}">

            {% csrf_token %}

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>


            <!-- Password -->
            <div class="form-group">
                <label for="id_password1">Password:</label>
                <input type="password" class="form-control" id="id_password1" name="password" required>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>

    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
