{% extends 'dashboard/base_template.html' %} 
{% block administrators-page-active %}mm-active{% endblock %} 
{% block pagetitle %}Administrators{% endblock %}

{% load static %}

{%block content %}
<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
        </div>
        <div>
          New administrator
          <div class="page-title-subheading">
            Add a new administrator that can access this dashboard.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-card mb-3 card">
    <div class="card-body">
       {% if messages %}
      <div id="message-container" class="col-md-12 mx-auto">
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show py-3 mt-2" role="alert">
          <strong>Alert! </strong> {{message}}.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          {% endfor %}
      </div>
      {% endif %} 
      
      <form class="col-md-6 mx-auto" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="font-weight-bold" for="email">Email Address</label>
          <input placeholder="Email Address" type="email"  name="email" class="mb-2 form-control-lg form-control">

          <label class="font-weight-bold" for="user_name">User Name</label>
          <input placeholder="User Name" type="text" name="user_name" id="user_name" value="" class="mb-2 form-control-lg form-control">

          

          <div class="form-group mt-4">
            <label class="font-weight-bold" for="password">New Password</label>
            <input placeholder="Password" type="password" name="password" id="password" class="mb-2 form-control-lg form-control">
          </div>

          <label class="font-weight-bold" for="repeat_password">Repeat Password</label>
          <input placeholder="Repeat Password" name="repeat_password" id="repeat_password" type="password" class="mb-2 form-control-lg form-control">

          {% comment %} <div class="form-group">
            <p class="m-0 text text-warning">Inactive users cannot access this dashboard.</p>
            <label class="font-weight-bold" for="is_active">Status</label>
            <input type="checkbox" name="is_active" id="is_active" checked data-toggle="toggle" data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger">
          </div> {% endcomment %}

          <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
